<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nhom6"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity_ThongKeSanPham"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DanhSachDonHang_BanHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ShipperDonHangDangGiao"
            android:exported="false" />
        <activity
            android:name=".PhuongThucThanhToan"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KhoDonHangChoXacNhan"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KhoDonDaGiaoHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_TrangChuBanHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DonHangDangGiao_ThuKho"
            android:exported="false" />
        <activity
            android:name=".MainActivity_LyDoHuyDon_ThuKho"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KhoDonHangDaHuy"
            android:exported="false" />
        <activity
            android:name=".MainActivity_LienHe"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DanhBaTinNhan_KhachHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_tinnhan_khachhang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_tinnhan_nhanvien"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DanhBaTinNhan_NhanVien"
            android:exported="false" />
        <activity
            android:name=".MainActivity_GiongCayTrong"
            android:exported="false" />
        <activity
            android:name=".MainActivity_TrangChuKhachHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DangKy"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KhoDonHangDangDongGoi"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ThemDiaChiMoi"
            android:exported="false" />
        <activity
            android:name=".MainActivity_KyThuatGieoHat"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Thuoc"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DonHangChoXacNhan"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DiaChiGiaoHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ShipperDonHangCuaBan"
            android:exported="false" />
        <activity
            android:name=".MainActivity_GioiThieu"
            android:exported="false" />
        <activity
            android:name=".MainActivity_TrangChuAdmin"
            android:exported="false" />
        <activity
            android:name=".MainActivity_QuanTriKyThuat"
            android:exported="false" />
        <activity
            android:name=".MainActivity_QuanTriSanPham"
            android:exported="false" />
        <activity
            android:name=".MainActivity_QuanTriNhanVien"
            android:exported="false" />
        <activity
            android:name=".MainActivity_QuanTriChungCacDanhMuc"
            android:exported="false" />
        <activity
            android:name=".MainActivity_TrangChuThuKho"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ChiTietSanPham"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ChonDiaChiGiaoHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DonHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_GioHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_LyDoHuyDon"
            android:exported="false" />
        <activity
            android:name=".MainActivity_HoSoNguoiDung"
            android:exported="false" />
        <activity
            android:name=".MainActivity_TaiKhoan"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ShipperDonHangDaHuy"
            android:exported="false" />
        <activity
            android:name=".MainActivity_TrangChuShipper"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ShipperDanhSachDonHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ShipperDonHangDangGiao"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ShipperDonHangCuaBan"
            android:exported="false" />
        <activity
            android:name=".MainActivity_TatCaDanhGia"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DanhGia"
            android:exported="false" />
        <activity
            android:name=".MainActivity_TrangChuShipper"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ThongTinNguoiNhan"
            android:exported="false" />
        <activity
            android:name=".MainActivity_PhanHoiDanhGiaKhachHang_BanHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_GopYTuKhachHang_BanHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ShipperDonHangDaHuy"
            android:exported="false" />
        <activity
            android:name=".MainActivity_ShipperDanhSachDonHang"
            android:exported="false" />
        <activity
            android:name=".MainActivity_DangNhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>